Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
stage 
ConstructionMachines
ConstructionMachines/*
IndustryPropsPack6
IndustryPropsPack6/*
StarterContent
StarterContent/*
Maps
Architecture